<!--<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">-->
    <!--<div>-->
      <!--<time id="post:{{post.title}}" datetime="{{ post.date }}" class="catalogue-time">{{ post.chapter }}</time>-->
      <!--<h1 class="catalogue-title">{{ post.title }}</h1>-->
      <!--<div class="catalogue-line"></div>-->

      <!--<p>-->
        <!--{{ post.content | strip_html | truncatewords: 20 }}-->
      <!--</p>-->

    <!--</div>-->

  <!--</a>-->
<div class="col-lg-3 col-md-4 mb-4">
    <div class="card h-100">
        <a href="{{ post.project_url }}"><img class="card-img-top" src="{{ "/assets/images/"+| relative_url }}{{ post.poster_name }} " alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{ post.title }}</a>
            </h4>
            <p class="card-text">{{ post.description }}</p>
        </div>

    </div>
</div>

<!--<div class="col-lg-4 col-md-6 mb-4">-->
    <!--<div class="card h-100">-->
        <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
        <!--<div class="card-body">-->
            <!--<h4 class="card-title">-->
                <!--<a href="#">Item Two</a>-->
            <!--</h4>-->
            <!--<h5>$24.99</h5>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4 col-md-6 mb-4">-->
    <!--<div class="card h-100">-->
        <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
        <!--<div class="card-body">-->
            <!--<h4 class="card-title">-->
                <!--<a href="#">Item Three</a>-->
            <!--</h4>-->
            <!--<h5>$24.99</h5>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4 col-md-6 mb-4">-->
    <!--<div class="card h-100">-->
        <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
        <!--<div class="card-body">-->
            <!--<h4 class="card-title">-->
                <!--<a href="#">Item Four</a>-->
            <!--</h4>-->
            <!--<h5>$24.99</h5>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4 col-md-6 mb-4">-->
    <!--<div class="card h-100">-->
        <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
        <!--<div class="card-body">-->
            <!--<h4 class="card-title">-->
                <!--<a href="#">Item Five</a>-->
            <!--</h4>-->
            <!--<h5>$24.99</h5>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4 col-md-6 mb-4">-->
    <!--<div class="card h-100">-->
        <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
        <!--<div class="card-body">-->
            <!--<h4 class="card-title">-->
                <!--<a href="#">Item Six</a>-->
            <!--</h4>-->
            <!--<h5>$24.99</h5>-->
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->